@import "react-quill/dist/quill.snow.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

:root {
  --linkedin-blue: #0a66c2;
  --linkedin-light-blue: #e7f3ff;
  --linkedin-black: #000000;
  --linkedin-dark-gray: #333333;
  --linkedin-medium-gray: #86888a;
  --linkedin-light-gray: #f3f2ef;
  --linkedin-white: #ffffff;
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: var(--linkedin-light-gray);
  color: var(--linkedin-black);
  line-height: 1.5;
}

a {
  color: var(--linkedin-blue);
  text-decoration: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Quill editor custom styles */
.ql-editor {
  font-size: 14px; /* Adjust this value as needed */
}

.ql-snow.ql-toolbar button svg {
  width: 20px; /* Adjust this value as needed */
  height: 20px; /* Adjust this value as needed */
}

.ql-snow .ql-picker {
  font-size: 14px; /* Adjust this value as needed */
}

/* Optionally, you can style specific elements within the editor */
.ql-editor h1 {
  font-size: 2em;
}

.ql-editor h2 {
  font-size: 1.5em;
}

.ql-container {
  height: 50vh !important;
  font-family: "Poppins", Helvetica, Arial, sans-serif !important;
}

.ql-editor.ql-blank::before {
  font-style: normal !important;
  font-size: 14px;
  color: #9ba3af !important;
}
/* Add any other custom styles you want */
